.footer__title {
    font-size: var(--size-sm);
    font-weight: 500;
    color: var(--clr-rose);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    user-select: none;
}

/* xxs */
@media (min-width: 310px) {
    .footer__title {
        font-size: var(--size-xxs);
        font-weight: 500;
        color: var(--clr-rose);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        user-select: none;
    }
}

/* xs */
@media (min-width: 475px) {
    .footer__title {
        font-size: var(--size-xs);
        font-weight: 500;
        color: var(--clr-rose);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        user-select: none;
    }
}

/* sm */
@media (min-width: 640px) {
    .footer__title {
        font-size: var(--size-xs);
        font-weight: 500;
        color: var(--clr-rose);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        user-select: none;
    }
}
